html
  head
    title Find my Movie
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(type="text/javascript", src="//cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js")
    script(type="text/javascript", src="static/js/t.min.js")
    script(type="text/javascript", src="static/js/movies.js")
    link(rel="stylesheet", href="/static/css/bootstrap.min.css")
    link(rel="stylesheet", href="/static/css/style.css")
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33101711-3']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    h1 Where Can I Watch...
    input(type="text", class="searchbox", name="q", id="search", autocomplete="off")

    div(class="container")
      div(class="row")
        div(id="results")

    div(id="overlay", class="hidden")
      Hey there!

