body {
  min-height: 100%;
  background-color: #F4F4F4;
}

input#search {
  margin: 10px 0;
  font-size: 72px;
  line-height: 72px;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

  padding: 0;
  background: 0;
  border: 0;
  color: #393939;
  font-weight: 700;
  text-transform: uppercase;

  border-bottom: 1px solid #CCC;
  box-shadow: none;
  width: 100%;

  height: auto;
  border-radius: 2px;
  -webkit-appearance: none;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

input#search:focus {
  outline-width: 0;
}

.movie {
  width: 300px;
  height: 258px;
  float: left;
  margin: 10px;
  padding: 20px 10px;
  padding-top: 10px;
  border-radius: 4px;
  border: 1px solid rgba(179,169,169,0.27);
  background: rgba(235,229,229,0.12);
}

.movie.big {
  width: 23%;
}

.movie .title {
  width: 100%;
  font-size: 24px;
  line-height: 24px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  color: #393939;
  font-weight: 595;
  text-transform: uppercase;
}

.movie img {
  float: left;
  max-height: 90%;
  width: 150px;
  margin-right: 10px;
}

.movie.big img {
  min-width: 50%;
}


.movie .description {
  display: block;
}
.movie:hover {
  background: rgba(223,220,220,0.41);
  border-color: #CAC9C9;
}
