body {
  min-height: 100%;
  background-color: #F4F4F4;
}

.hidden {
  display: none;
}

h1 {
  font-size: 38.5px;
  line-height: 40px;
  font-weight: bold;
  text-rendering: optimizelegibility;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

input#search {
  margin: 10px 0;
  font-size: 72px;
  line-height: 72px;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

  padding: 0;
  background: 0;
  border: 0;
  color: #393939;
  font-weight: 700;
  text-transform: uppercase;

  border-bottom: 1px solid #CCC;
  box-shadow: none;
  width: 100%;

  height: auto;
  border-radius: 2px;
  -webkit-appearance: none;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

input#search:focus {
  outline-width: 0;
}

.movie {
  margin-top: 40px;
  border-radius: 4px;
  margin: -1px;
  margin-left: 19px;
  border: 1px solid rgba(179,169,169,0.27);
  background: rgba(235,229,229,0.12);
}

.movie:hover {
  background: rgba(223,220,220,0.41);
  border-color: #CAC9C9;
}

.movie .title {
  font-size: 24px;
  line-height: 24px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  color: #393939;
  font-weight: 600;
  padding-bottom: 20px;
}

.movie img {
  width: 100%;
}

.movie .description {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  display: block;
}

.links {
  margin-top: 0;
}

.link {
  height: 60px;
}
